<div class="row-fluid">
    <div class="span12">
        <!-- <img class="about-icon" src="images/download.png" width="50"> -->
        <h4> About Mu-8 </h4>
        <p>  A complete understanding of the relationship between the amino acid sequence and resulting protein function remains an open problem in the biophysical sciences. Current approaches often rely on diagnosing functionally relevant mutations by determining whether an amino acid frequently occurs at a specific position within the protein family. These methods, however, fail to appropriately account for the biophysical properties and the 3D structure of the protein.

To remedy this, we have developed an interactive visualization technique, Mu-8, that provides researchers with a holistic view of the residues that have significantly different characteristics from a family of homologous yet functional proteins. Mu-8 enables analysts to identify regions of the sequence that have biophysical anomalies, while clearly communicating the spatial relationships amongst residues. </p>
    </div>
</div>

<br/>

<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="images/download.png" width="50" style="float: left;">
        <h4> Mu-8 Paper </h4>
        <p class="italic">
            <br>
            <a href="resources/mu-8.pdf">Mu-8: Visualizing Differences between a Protein and its Family</a> <br> Johnathan Mercer, Balaji Pandian, Nicolas Bonneel, Alexander Lex, Hanspeter Pfister <br />
        </p>
 
    </div>
</div>

<br/>