<div class="row-fluid">

    <form class="form-horizontal span12">

        <fieldset>

            <legend>Account Information</legend>
            <br/>

            <div class="row">
                <div class="span8">

                    <div class="control-group">
                        <label for="firstname" class="control-label">First Name:</label>

                        <div class="controls">
                            <label id="firstname" class="field-value"><%= firstname %></label>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="lastname" class="control-label">Last Name:</label>

                        <div class="controls">
                            <label id="lastname" class="field-value"><%= lastname %></label>                            
                        </div>
                    </div>                    
                    
                    <div class="control-group">
                        <label for="email" class="control-label">Email:</label>

                        <div class="controls">
                            <label id="email" class="field-value"><%= email %></label>                            
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="username" class="control-label">Username:</label>

                        <div class="controls">
                            <label id="email" class="field-value"><%= username %></label>
                        </div>
                    </div>    

                    <div class="control-group">
                        <label for="affiliation" class="control-label">Affiliation:</label>

                        <div class="controls">
                            <label id="affiliation" class="field-value"><%= affiliation %></label>
                        </div>
                    </div>   
                </div>                

            </div>

        </fieldset>

        <div class="form-actions">
            <a href="#/users/account/edit" class="btn btn-primary edit">Edit</a>
            <a href="#users/password/change" class="btn change">Change Password</a>
        </div>

    </form>

</div>

<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> User registered successfully
        </div>
    </div>
</div>