<br>
<div class="row-fluid span12">
    <a  href="#computations/add" class="btn btn-primary">New Sequence Analysis</a>
</div>
    <br>
    <br>
    <br>
<div class="table-responsive" style="clear: both">
    <table id="computationsTable" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th width="2%"></th>
                <th width="10%">Name</th>
                <th width="40%">Description</th>
                <th width="5%">Public</th>
                <th width="15%">Status</th>
                <th width="25%">Action</th>
            </tr>
        </thead>
        <tbody>            
        </tbody>
    </table>
</div>

<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Computation saved successfully
        </div>
    </div>
</div>
