
<div style="align: right"><img src="images/seas.png"/></div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Mu-8</h1>
        <p>Mu-8 is a novel, interactive visualization tool for comparing proteins to their family and for identifying potential regions that cause functional breakdown. This framework provides a complete quantitative landscape of residue characteristics in the context of both primary and tertiary structure. </p>
        
        <p>To try out the lasted version click <b>Try Demo</b> below. The latest version requires some time to load, so please be patient. To try the classic version, which loads faster, click <b>Try Classic Demo</b>.</p> 
        <p>If you want to upload your own data, please create an account and log in.</p>
        <p>
         <a href="#/users/login" class="btn btn-primary btn-large"> Login</a>
         <a href="#demo" class="btn btn-primary btn-large">Try Demo</a> 
         <a href="http://alexsb.github.io/mu-8/" class="btn btn-primary btn-large">Try Classic Demo</a> 
         </p>
         
         <p>Mu-8 was created as a contribution to the <a href="http://biovis.net/year/2013/info/contest">2013 BioVis Contest</a>. The demo versions use the dataset provided by Drs. Magliery and Sullivan at The Ohio State University. 
          <p>
 Mu-8 is developed by <a href="http://www.linkedin.com/in/johnmercer">Johnathan Mercer</a>, <a href="http://www.balajipandian.com">Balaji Pandian</a>, <a href="http://alexander-lex.com">Alexander Lex</a>, <a href="http://people.seas.harvard.edu/~nbonneel/">Nicolas Bonneel</a> and <a href="http://vcg.seas.harvard.edu">Hanspeter Pfister</a>
 </p>
 
 
      </div>
  

					
					<iframe width="640" height="390" src="//www.youtube.com/embed/AQzNNB38Yg4" frameborder="0" allowfullscreen></iframe>

   </div>