
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Mu-8</h1>
        <p>Mu-8 is a novel, interactive visualization tool for comparing proteins to their family and for identifying potential regions that cause functional breakdown. This framework provides a complete quantitative landscape of residue characteristics in the context of both primary and tertiary structure. Welcome to the next evolution of protein analysis. </p>
         <a href="#/users/login" class="btn btn-primary btn-large"> Login</a>
         <a href="#/users/signup" class="btn btn-primary btn-large"> Signup</a> 
      </div>
 
   </div>