<div class="row-fluid">
    <div class="span12">
        <h2> Welcome to the Mu-8 User Guide </h2>
        <p  class="lead" > 
           So how do you use Mu-8? Well, to start, Mu-8 takes two inputs:<br><br>
 
           1. Multiple Sequence Alignment file (created from, e.g., clustal output) <br>
           2. 3D Coordinates file (created from the PDB file). <br><br>

           You upload these files using the "New Sequence Analysis" button on the index page after logging in. When you submit a new sequence analysis, Mu-8 will then use your sequences and 3-dimensional structure to construct the visualization. To learn how to use and interpret all of the visual encoding and features of Mu-8, please see our paper:  <a href="resources/2013_biovis_contest.pdf">Mu-8: Visualizing Differences between a Protein and its Family</a>
        </p>
    </div>
</div>

<br/>

<div class="row-fluid" >
    <div class="span12">
        <h2> Multiple Sequence Alignment File </h2>
        <p class="lead" >
         This file should be in csv format, a snippet of the example file is shown below and the complete sample file is available <a href="resources/msaFile">here</a>.
                protein_id,sequence<br>
                A0JTB7_ARTS2,SDSVIYVGVSTKMYLGYRT<br>
                A0JWP9_ARTS2,FDRTPLIAGNWKMNMDHVG<br>
                A0K925_BURCH,KQRTKRVIGNWKMHGRLAN<br>
                A0KNE7_AERHH,GHRKPFVAANWKLHGSRSL<br>
                A0LJZ0_SYNFM,EKRIPLIAANWKMHKTVGS<br>
        </p>
 
    </div>
</div>


<div class="row-fluid">
    <div class="span12">
        <h2> 3D Coordinate File </h2>
        <p class="lead"  >
        This file should be in csv format, a snippet of the example file is shown below and the complete sample file is available <a href="resources/pdbFile">here</a>.<br>
        x,y,z<br>
        100.492599,39.516201,68.107803<br>
        100.492599,39.516201,68.107803<br>
        101.38018,34.488636,69.23455<br>
        98.739006,33.168144,65.915428<br>
        </p>
 
    </div>
</div>
 