<!--
<div class="container offset2 ">
<br>
<br> 
<br>
<br>

<h1 class="offset2"> GeNets Search </h1>

<form  class = "search">
<fieldset>
<textarea class="xxlarge span8" id="geneListString" name="geneListString" rows="3" type="text" 
placeholder="Enter a gene set here..."
></textarea>
</fieldset>
<br>

<button type="submit" class="btn btn-primary btn-large offset2 btn-success span3 visualize"> 
	Visualize » 
</button>

</form>
<br>
<br>

<div class="row-fluid status-bar">
    <div class="span8">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Computing!
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
</div>
-->
<!--
<div class="clearfix">
	<label for="stackedSelect">Select Biological DB</label>
	<div class="input">
	  <select name="stackedSelect" id="stackedSelect">
	    <option>InWeb3</option>
	    <option>InWeb5</option>
	    <option>STRING</option>
	    <option>FunCoop</option>
	  </select>
	</div>
</div>
-->
<br>
<br>
<div class="row-fluid container offset2">

	
    <form class="form-horizontal span12">
    	
    	<h1 class="offset2">  &nbsp; &nbsp; &nbsp;  &nbsp;GeNets Search </h1>
        <p class="offset2">  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;Enter a gene list to visualize the network </p>
        <fieldset>

            <!-- <legend>Send Gene List Example</legend> -->

            <div class="row">
                <div class="">

                    <div class="control-group">
                        <label for="username" class="control-label"></label>

                        <div class="controls">
                            <input type="text" class="span6 rounded" id="geneListString" name="geneListString" placeholder="e.g. HDAC1,CTNNB1,SMAD4,BRAF" value= "HDAC1, PRARD, TLE1, LEF1, GSK3B"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    
                </div>

            </div>

        </fieldset>

        <!-- <div class="form-actions"> -->
             <a href="#" class="btn btn-primary btn-large btn-success span2 visualize mainSearchButton">Visualize »</a>
        <!-- </div> -->
    <br>
    <br>
    </form>

    <br>
    <br>
    
    <div class="row-fluid status-bar">
        <div class="mainSearchProgress">
            <div class="alert alert-success" style="display: none">
                 
            </div>
        </div>
    </div>

</div>


<br>
<br>
